* {
  margin: 0;
  padding: 0;
  /* border: 1px solid green; */
}

.app-content-container {
  display: flex;
  justify-content: center;
  background-color: #030e17;
  padding: 40px 0px 40px 0px;
}

.app {
  background-color: #030e17;
}
