.about-us-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  height: 80vh;
}

.about-us-member {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 450px;
  font-size: 1em;
  color: #FFFFFF;
}

.bio-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10px;
  width: 430px;
}

.bio-text {
  font-size: 1em;
  font-family: 'Quicksand';
}

.about-us-picture {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin: 50px 0px 20px 0px;
}