.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border: none;
  height: 100%;
  width: 100%;
  position: relative; 
  border-radius: 10px;
  overflow: auto;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
}

.card:hover {
  cursor: pointer;
  opacity: 90%;
}

.movie-card-img {
  /* position: relative; */
  height: 100%;
  width: 100%;
}

.card:hover .movie-card-img {
  filter: brightness(50%);
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.card:hover .card-title {
  text-decoration: underline;
}

.card-description {
  display: flex;
  position: relative;
  text-align: center;
  flex-direction: column;
  background-color: black;
  color: #FFFFFF;
  padding: 10px;
  width: 100%;
}

.card-title {
  font-size: 1.15em;
  padding: 0px 8px 2px 8px;
}

.card-year {
  font-size: 0.9em;
  color: #808080;
}

@media (max-width: 768px) {
  .card-description {
    font-size: 0.8em; /* Adjust the font size for smaller screens */
  }
}