.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border: none;
  width: 18%;
  position: relative; 
  border-radius: 10px;
  overflow: hidden;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
}

.card:hover {
  cursor: pointer;
  opacity: 90%;
}

.movie-card-img {
  width: 100%;
}

.card:hover .movie-card-img {
  filter: brightness(50%);
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.card:hover .card-title {
  text-decoration: underline #808080;
}

.card-description {
  display: flex;
  position: relative;
  text-align: center;
  flex-direction: column;
  background-color: black;
  color: #FFFFFF;
  padding: 10px;
  width: 100%;
}

.card-title {
  font-size: 1.15em;
  padding: 0px 8px 2px 8px;
}

.card-year {
  font-size: 0.9em;
  color: #808080;
}

.card-rating {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.9em;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20%;
  margin: 5px;
  padding: 8px;
  color: white;
}

@media (max-width: 1080px) {
  .card {
    width: 35%;
  }

  .card-description {
    font-size: 0.8em;
  }
}