.selected-movie {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.selected-movie-img {
  height: 80%;
  max-width: 30%;
  border-radius: 5px;
  border: none;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.8));
  display: flex;
  justify-content: center;
  margin: 10px 20px 10px 20px;
  align-self: center;
}

.selected-movie-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 80vh;
  width: 100%;
  margin-bottom: 10px;
}

.selected-movie-trailer {
  border-radius: 5px;
  border: none;
  min-height: 50%;
  margin: 10px;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.8));
}

.selected-movie-title {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: space-between;
}

.selected-movie-info {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 86%;
  position: relative;
  padding: 25px;
  font-size: 1em;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.8));
  overflow-y: auto;
  min-height: 40%;
}

.selected-movie-genres {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.genre {
  color: #808080;
  font-size: 1.3em;
}

.selected-movie-stats {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 20px;
  color: #808080;
  font-size: 0.8em;
}

.selected-movie-overview {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1em;
  font-style: italic;
  margin-bottom: 10px;
}

h3 { 
  font-size: 1em;
}

@media (max-width: 1500px) {
  .selected-movie-img {
    width: 100%;
    display: none;
  }
}