.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 50px 0px 50px 0px;
  font-size: 25px;
  color: #ffffff;
  background-color: rgba(24, 23, 23, 0.5);
}

.title-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 25vw;
  color: #ffffff;
}

.subtitle {
  font-family: 'Russo One', sans-serif;
  font-size: 0.9em;
  margin-bottom: 5px;
}

.project-details {
  font-family: 'Quicksand', sans-serif;
}

.linkedin,
.github {
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
}

a,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: darkgrey;
}

p {
  font-size: 0.6em;
  padding: 3px 3px 3px 3px;
}
